<div class="nav-items">
    <div class="nav-item">
      <a routerLink="/prod/new">
        <i class="fa-solid fa-house-chimney"></i>
        <span>Dashboard</span>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/prod/new">
        <i class="fa-solid fa-user-shield"></i>
        <span>Admin</span>
      </a>
    </div>
    <div class="nav-item">
     <a routerLink="/prod/new">
      <i class="fa-solid fa-pen-to-square"></i>
      <span>Products</span>
     </a>
    </div>
 
    <div class="nav-item">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
      <span>Sales</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faChartBar"></fa-icon>
      <span>Statistics</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faShop"></fa-icon>
      <span>Contact</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faHand"></fa-icon>
      <span>Help</span>
    </div>

    <div class="nav-item">
      <i class="fa-solid fa-file-lines"></i>
      <span>Blog</span>
    </div>
  </div>